.franchisePamphlet{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:60%;
    height:10%;
}



.franchiseRegisterLink{
    padding-top: 5%;
    padding-bottom: 2%;
  }
  
  .franchiseRegisterLink a{
    color: black;
    text-decoration: none;
    padding-top: 60px;
    padding-bottom: 100px;
  }
  .franchiseRegisterLink a:hover{
    color: blue;
    text-decoration: underline;
    padding-top: 60px;
    padding-bottom: 100px;
  }